.bottom {
  display: flex;
  justify-content: center;
  vertical-align: center;

  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: rgb(24, 24, 24);
}

.bottom-mid {
  flex:1.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control-buttons {
  text-align: center;
  vertical-align: middle;
}

.control-buttons button {
  margin: 8px 10px;
  background-color: rgb(24, 24, 24);
  border: 0;
  cursor: pointer;
}
.control-buttons img {
  width: 20px;
  margin-right: -2px;
  margin-bottom: -2px;
  background-color: rgb(24, 24, 24);
}

.play {
  background: white !important;
  border: 0 solid;
  border-radius: 20px;
  width: 33px;
  padding: 5px;
}
.play img {
  background-color: white !important;
}

.pause {
  background: white !important;
  border: 0 solid;
  border-radius: 20px;
  width: 33px;
  padding: 5px;
}
.pause img {
  background-color: white !important;
}


.prev img,
.next img {
  height: 15px;
}

.scroll-bar input{
  accent-color: white ;
  width:100%;
  height: 5px;
  border-radius: 3px;
  cursor: pointer;
}


.bottom-left{
  display: flex;
  flex:1;
  justify-content: flex-start;
  vertical-align: center;
  width:auto;
  margin-left:16px;
  padding:14px 0;
}

.poster img{
  width:55.99px;

}

.bottom-song{
  flex:1;
  max-width: fit-content;
  padding:  0 16px;
  font-size: 13px;
  color:white;
}

.bottom-song-name{
  margin: 6px 0;
  display: block;
}

.bottom-artist-name{
  font-size: 10px;
  color: rgb(206, 206, 206);
}

.heart{
  padding: auto;
  
}
.heart img{
  width:15px;
  margin: 25px 15px;
}

.bottom-right{
  flex:1;
  display: flex;
  justify-content: flex-end;
  margin-right:16px;
 
}
.bottom-right button{
  background-color: rgb(24, 24, 24);
  border:none;
  cursor: pointer;
  height: fit-content;
  margin: auto 3px;
  
}
.bottom-right img{
  width:19px;
  background-color:rgb(24, 24, 24);
  
}
.bottom-right input[type="range"]{
  accent-color: white ;
  width:100px;
  height: 3px;
  border-radius: 3px;
  cursor: pointer;

  margin: auto 0;
}