@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500&family=Hind:wght@300;400;500;600;700&family=Mr+Dafoe&family=Roboto:wght@400;500;700&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: Varela Round, Roboto;
  background-color: black;
  
}

